
	.clientsMessageHolder{
	  background-color: $select2-items-color;

//	  h2{
//		@include font-family('ProximaNova-Bold', 'normal', 150%);
//		text-align: center;
//		color: #ffffff;
//		padding: 25px 0;
//
//	  }
	  padding: 25px 0;

	  .infoBlock{
		float: left;
		display: block;


		&:nth-child(1){
		  padding-top: 10px;
      width: 33%;
		}

		&:nth-child(2){
      width: 33%;
      margin-top: 2px;
		}

		&:nth-child(3){
      margin-right: 0;
      float: right;
      margin-top: 1px;
      width: 33%;

		}

      @media (min-width: 340px) and (max-width: 768px){
        &:nth-child(2){
          //margin-left: 19%;
        }
      }


		img{
		  display: block;
		  margin: 0 auto;
      margin-bottom: 9px;
		}
		p{
		  @include font-family('ProximaNova-Light', 'normal', 14px);
		  color: #ffffff;
		  margin-top: 10px;
		  text-align: center;
		  line-height: 1.4;
		}

	  }
	}

	.messageBlock{
	  margin-top: 10px;
	  .alert{
		padding:20px 10px;
		@include border-radius(10px);
		@include font-family('ProximaNova-Light', 'normal', 100%);

	  }

	}



	.registrationBlock{

	  h2{
		text-align: center;
		color: $select2-items-color;
		@include font-family('ProximaNova-Bold', 'normal', 110%);
		margin: 20px 0;
	  }

	  .form-group{

		.help-block{
		  @include font-family('ProximaNova-Light', 'normal', 13px);
		}

		&.has-error{
		  & > input, & > textarea{
			border: 1px solid #a94442;
		  }

			.select2-container{
			  .select2-selection--multiple{
				border: 1px solid #a94442;
			  }
			}
		}

		&.has-success{
		  & > input, & > textarea{
			border: 1px solid #3c763d;
		  }

		  .select2-container{
			.select2-selection--multiple{
			  border: 1px solid #3c763d;
			}

			.select2-selection--single{
			  border: 1px solid #3c763d;
			}
		  }
		}
		margin: 21px 0;

		label{
		  @include font-family('ProximaNova-Light', 'normal', 100%);

		  margin-bottom: 10px;

		}

		& > input, & > textarea{
		  border: 1px solid $search-block-bg-color;
		  @include border-radius(10px);
		  @include font-family('ProximaNova-Light', 'normal', 100%);
		}


		.select2-container{
		  .select2-selection{
			border: 1px solid $search-block-bg-color;
			@include border-radius(10px);

			&.select2-selection--single{
			  height: $search-block-input-height;
			  padding-left:10px;
			  .select2-selection__rendered{
				height: $search-block-input-height;
				line-height: $search-block-input-height;
				@include font-family('ProximaNova-Light', 'normal', 100%);

				.select2-selection__placeholder{
				  @include font-family('ProximaNova-Light', 'normal', 100%);
				  color:#878080;
				}


			  }
			}

			&.select2-selection--multiple{
			  @include font-family('ProximaNova-Light', 'normal', 100%);
			  .select2-selection__choice{
				margin:5px;
				background-color: #E8E8E8;
				color: #000000;
				border: 1px solid #53505a;

				.select2-selection__choice__remove{
				  color: #000000;
				}
			  }
			}
		  }
		}





		&.field-user-phonemaskcity{
		  display: none;
		}

		.select2.select2-container{
		  width: 100% !important;
		}


		&.submitRow{
		  text-align: center;
		  margin: 20px 0;
		  button{
			padding: 3.5px 20px;
			@include font-family('ProximaNova-Light', 'normal', 120%);

		  }
		}

		textarea{
		  resize: none;
		  height: 80px;
		}

		&.field-user-user_agreement{
		  line-height: 1;
		  label{
			line-height: 1;
//			margin-left: 10px;
			color: #000000;
			input{
			  position: relative;
			  top: 3px;
			}
		  }
		}

//		&.field-user-phone{

		  &[data-role="phoneField"]{
			input{
			  width: 95%;
			  display: inline-block;
			}

			span{
			  &.numberControl{
				width: 24px;
				height: 24px;
				display: inline-block;
				cursor: pointer;
				position: absolute;
				right: 12px;
				bottom: 5px;
				//			  float: right;

				&.numberAdd{
				  background: url('../img/number-add.png');
				}
				&.numberRemove{
				  background: url('../img/number-remove.png');
				}
				&.numberDisable{
				  background: url('../img/number-disable.png');
				  cursor: default;
				}
			  }
			}
		  }


//		}

	  }

	}

	.requestBlock{

		@import "../blocks/request-block";

	}



