&{
//  padding: 0 30px;
 	 width: 100%;

	.header{
	  height: 60px;
	  width: 100%;
	  img{
		display: block;
		float: left;
		margin-top: 15px;
		margin-left: 30px;
	  }
	  .contactsBlock{
		display: block;
		float: right;
		margin-right: 30px;
		margin-top: 15px;
		p{
		  padding: 0;

		  &:first-child{
			padding-bottom: 5px;
		  }
		  margin: 0;
		}
//		margin-top: 15px;



	  }
	}

	h2{
	  text-align: center;
	  background-color: $search-block-bg-color;
	  color: #ffffff;
	  padding: 10px 0;
	}

  ul{
	list-style-type: none;
  }

  .text{
	padding: 20px 0 100px 30px;
  }

  .parameters{
	color: #ffffff;
	font-size: 150%;
	width: 300px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px 0 10px 30px;
	font-weight: bold;
	background-color: $search-block-bg-color;

  }

  .regards{
	font-style: italic;
	text-align: right;
	padding-right: 30px;
  }
}