/**
* Header var
*/
$topNavLineBg: #ededed;


$mq-medium: 'all and (min-width: 768px) and (max-width: 1000px)' !default;
$mq-small: 'all and (max-width: 767px)' !default;

$container-width:1000px;

$header-height:64px;

$rows-left-block-width: 25%;
$rows-right-block-width: 75%;



$search-block-input-height: 34px;

$footer-height: 180px;



$select2-items-color: #1083ab;
$search-block-bg-color: #1083ab;

//request form
$smetawizardMessage-height: 44px;
$formRow-padding-top: 10px;
